/quora-E5-small.csv
/quora-queries-E5-small.csv
/corpus-quora-E5-small.csv.bz2
/corpus-quora-E5-small.csv.bz2
/corpus-quora-E5-small.csv.bz2
/queries-quora-E5-small.csv.bz2
/queries-quora-E5-small.csv.bz2
/queries-quora-E5-small.csv.bz2
/dim-quora-E5-small.txt
/corpus-wiki-cohere.csv.bz2
/queries-wiki-cohere.csv.bz2
/dim-wiki-cohere.txt
/*.csv
