/quora-E5-small.csv
/quora-queries-E5-small.csv
/corpus-quora-E5-small.csv.bz2
/corpus-quora-E5-small.csv.bz2
/corpus-quora-E5-small.csv.bz2
/queries-quora-E5-small.csv.bz2
/queries-quora-E5-small.csv.bz2
/queries-quora-E5-small.csv.bz2
/dim-quora-E5-small.txt
